@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.hero {
  /* width: 100%; */
  height: 768px;
  background-image: url('https://images.pexels.com/photos/11313729/pexels-photo-11313729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio h3 {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-weight: bold;
}

.hero-text p {
  color: #fff;
  font-size: 64px;
  line-height: 78px;
  padding: 70px;
  
}

.hero-text span {
  color: #fff;
  padding: 70px;
}

.about {
  height: 800px;
}

.picture img {
  width: 500px;
  height: 500px;
  padding: 70px;
}

.about h3 {
  color: black;
  line-height: 29px;
  font-size: 24px;
  padding: 70px;
}

.about-hero {
  display: flex;
}
.about-descript {
  width: 500px;
  height: 500px;
  padding: 70px;
}

.skills-container {
  width: 1440px;
  height: 693px;
  background-color: #FFFAF2;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.skill {
  text-align: center;
}

.skill img{
  width: 100px;
  height:100px;
  cursor: pointer;
  padding-bottom: 10px;
}

.overlay {
  visibility: hidden;
}

.skill:hover .overlay{
  visibility: visible; 
}
.skill:hover img {
  opacity: 0.5;
}

.portfolio-container {
  height: 822px;
  width: 1440px;
}

.portfolio-container h3 {
  font-weight: bolder;
  padding-left: 163px;
  padding-top: 93px;
  font-size: 24px;
  line-height: 29px;
}

.project-name {
  padding-left: 166px;
  padding-top: 208px;
  font-size: 18px;
}

.project-info {
  padding-left: 166px;
  padding-top: 48px;
  width: 349px;
  height: 137px;
}

.project-pics {
  width: 635px;
  height: 403px;
  position: relative;
  top: -80px;
  left: 640px;
  background-color: #FFFAF2;

}

.pic-1 img {
  width: 300px;
  height: 144px;
  object-fit: cover;
}

.pic-2 img{
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.pic-3 img {
  width: 330px;
  height: 241px;
  object-fit: cover;
}

.pic-3 {
  position: relative;
  left: 305px;
  top: -402px;
}

.pic-4 {
  position: relative;
  left:305px ;
  top: -400px;
}

.pic-4 img {
  width: 330px;
  height: 151px;
}

.buttons {
  padding-left: 166px;
  padding-bottom: 25px;
}

.buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.buttons a:hover {
  background-color: #ddd;
  color: black;
}
.previous{
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #04AA6D;
  color: white;
}

.round{
  border-radius: 50%;
}